<ion-view view-title="ADN O DNA">
  <ion-content class="A">
    <center>
    <h2>El ADN o DNA</h2>
      <div class="row">
          <div class="col">
            <h4>Hoy en día, la doble hélice del ADN es probablemente la más emblemática de todas las moléculas biológicas. Ha inspirado escaleras, decoraciones, puentes peatonales (como el de Singapur que se muestra a continuación) y más.
            Tengo que estar de acuerdo con arquitectos y diseñadores: la doble hélice es una estructura hermosa, una cuya forma se acopla con su función de manera extraordinaria. Pero la doble hélice no siempre fue parte de nuestro léxico cultural. De hecho, hasta la década de 1950, la estructura del ADN seguía siendo un misterio.
            </h4>
          </div>
        </div>
        <div class='dna'>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
</div>

      </center>
  </ion-content>
</ion-view>
