<ion-view view-title="SUSTAINA">
  <ion-content class="padding">
    <center>
      <div class="row">
       <div class="col"><h1>Bienvenido a Sustaina</h1></div>
      </div>
      <div class="row">
       <div class="col "><img class="img-responsive" src="../img/logo.png"></div>
      </div>
      <h2>Importancia del Agua</h2>
      <div class="row">
        <div class="col"><iframe src="../video/jj.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>        
      </div>
      <div class="row">
        <div class="col">
          <h4>El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.

          Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="../img/agua.jpg" class="img-responsive">
        </div>
      </div>
      <h2>PROCESO DE LA FECUNDACION DEL EMBARAZO</h2>
       <div class="row">
        <div class="col"><iframe src="../video/hh.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>        
      </div>
          <div class="row"> 
            <div class="col">
              <div>
              </div>
              <h4>Una vez formados los gametos, para que se produzca un nuevo ser es necesario que el óvulo y el espermatozoide se junten y fusionen, a este proceso se le denomina fecundación. En la especie humana la fecundación es interna, es decir se produce dentro del cuerpo de la mujer, concretamente en las Trompas de Falopio.    
              Para ello es necesario que se produzca la copulación o coito que consiste en la introducción del pene en la vagina y la posterior eyaculación del semen aunque, como veremos más adelante, en la actualidad existen técnicas de reproducción asistida mediante las cuales pude darse una fecundación in vitro, en el laboratorio. <h4>
            </div>
          </div>
        
          
        </div>
      </div>
     
      <footer class="row">
        <div class="col foo">Sara abigail yoc Ramírez <br> Jeferson armado López González
        </div>
        <div class="col"> 5to Baco A <br>Programacion</div>
      </footer>
    </center>    
  </ion-content>
</ion-view>
